@model ProductSummaryModel.SummaryItem
@using System.Globalization;
@using SmartStore.Web.Models.Catalog;
@{
    var artDetailUrl = Url.RouteUrl("QuantityStep", new RouteValueDictionary { { "ProductId", Model.Id } });
    var list = Model.Parent;
    var picture = Model.Picture;

    var showButtons = list.ShowButtons && (!Model.Price.DisableWishlistButton || list.CompareEnabled || (!Model.Price.DisableBuyButton && list.BuyEnabled));
    var showVariants = (Model.ColorAttributes != null && Model.ColorAttributes.Any()) || (Model.Attributes != null && Model.Attributes.Any());
    var showDrop = showButtons || showVariants;
    var showAttrs = list.ViewMode == ProductSummaryViewMode.List && (list.ShowSku || list.ShowWeight || list.ShowDimensions);
    var addPictureClass = picture.PictureId == 0 ? " no-picture" : "";
    if (!picture.ImageUrl.HasValue())
    {
        addPictureClass += " no-default-picture";
    } }

<div class="single-price-plan active text-center">
    <!-- Package Text  -->
    <div class="package-plan">
        <h5>@Model.Name</h5>
        <div class="ca-price d-flex justify-content-center">
            <h4>@Model.ShortDescription</h4>
        </div>
    </div>
    <div class="package-description">
        <div class="visible-xs">
            <div class="col-12 col-md-3">
                <div class="single-special single-special-xs text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="fal fa-snowflake" aria-hidden="true"></i>
                    </div>
                    <p>@Model.FullDescription</p>
                    @foreach (var attribute in Model.SpecificationAttributes)
                    {
                        if (attribute.SpecificationAttributeOption == "1")
                        {
                            <span><i class="@(attribute.SpecificationAttributeOption == "1" ? "fa fa-check" : "")"></i> @attribute.SpecificationAttributeName</span>
                        }     
                    }
                </div>
            </div>
        </div>                     

        <div class="hidden-xs" style="padding-top:10px;">
            @foreach (var attribute in Model.SpecificationAttributes)
            {
                <p><i class="@(attribute.SpecificationAttributeOption == "1" ? "fa fa-check" : "")"></i> @attribute.SpecificationAttributeName</p>
            }
        </div>
    </div>
    <!-- Plan Button  -->
    <div class="plan-button">
        @{ Html.RenderPartial("Product.List.Quality.Item.Buttons", Model); }
    </div>
</div>     